__pycache__
*.pyc
.cache/
*.diff
*.err
*.orig
*.log
*~
.swp
*.swp
.DS_Store
.cache
*.pyc
.DS_Store
tags
.tags
.netrwhist

/MANIFEST
/dist
/build
/*.egg-info
/.tox
/htmlcov/
/docs/_build/
.coverage
*,cover
tests/__pycache__
*.pyc
.cache/
.eggs
